Pandas

Series

In [ ]:
import pandas as pd
disciplinas = pd.Series(['Matemática', 'Historia', 'Psicología'], dtype='string')
disciplinas[:2]

In [ ]:
numeros = pd.Series([3,4,6,8,2])
#numeros.dtype
#numeros.size
#numeros.index

In [ ]:
edades = pd.Series(dict(juan=45,Ana=23,Roberto=34))
#edades[1]
#edades[['Ana', 'Roberto']]

In [ ]:
numeros = pd.Series([3,4,6,8,2,3, None])
#print(numeros.count())
#print(numeros.size)
#numeros.sum()
#numeros.value_counts()
#numeros.count()
#numeros.min()
#numeros.max()
numeros.describe()

In [ ]:
numeros = pd.Series([3,4,6,8,2,3])
#numeros /2
#funcion = lambda x: x**2
#numeros.apply(funcion)
#numeros[numeros>2]

Dataframe

In [ ]:
df = pd.DataFrame(dict(juan=[6,7,8],Ana=[7,7,7],Roberto=[8,4,9]))
df

Importar desde un CSV

In [ ]:
df = pd.read_csv(r'C:\Users\gonza\Documents\Trabajo\Henry\Data Science\DS-M1\Clase 04\colesterol.csv', sep=';', decimal=',')
df

In [ ]:
#df.info()
#df.shape
#df.size
#df.columns[2]
#df.index
#df.head(10)
#df.tail(8)

In [ ]:
df['agregados'] = pd.Series([2,3,4,5,5,6])

In [ ]:
del df['agregados']

In [ ]:
df.drop(4)
df

In [85]:
df[(df['sexo']== 'H') & (df['colesterol'] > 210)]

                    nombre  edad sexo  peso  altura  colesterol
5        Antonio Ruiz Cruz    68    H  66.0    1.74       249.0
6  Antonio Fernández Ocaña    51    H  62.0    1.72       276.0
8     Pedro Gálvez Tenorio    35    H  90.0    1.94       241.0
9  Santiago Reillo Manzano    46    H  75.0    1.85       280.0

In [92]:
#df.loc[3]
df.iloc[2]

nombre        Javier García Sánchez
edad                             24
sexo                              H
peso                            NaN
altura                         1.81
colesterol                    191.0
Name: 2, dtype: object

In [94]:
df.describe()

            edad        peso     altura  colesterol
count  14.000000   13.000000  14.000000   13.000000
mean   38.214286   70.923077   1.768571  220.230769
std    15.621379   16.126901   0.115016   39.847948
min    18.000000   51.000000   1.580000  148.000000
25%    24.750000   61.000000   1.705000  194.000000
50%    35.000000   65.000000   1.755000  210.000000
75%    49.750000   78.000000   1.840000  249.000000
max    68.000000  109.000000   1.980000  280.000000

In [98]:
#df.groupby(['sexo']).groups
#pd.DataFrame(df.groupby('sexo')['altura'])

   0                                                  1
0  H  0     1.79
2     1.81
5     1.74
6     1.72
8 ...
1  M  1     1.73
3     1.70
4     1.58
7     1.66
10...

In [ ]:
df.to_csv('colesterol.csv', sep='|', columns=['edad', 'altura'], index=False)